* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

.header {
    background-color: Black;
}

.title {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    padding: 100px 50px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-image: url(https://cdn.pixabay.com/photo/2021/10/28/09/59/city-6749295_960_720.jpg);
}

.toggle-button-cover {
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 300px;
    height: 100px;
}

.button-cover {
    height: 60px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 10px;
}

.button-cover:before {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 220px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

#button-show .knobs:before {
    content: 'Mostra tutte';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 100px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03A9F4;
    border-radius: 2px;
    transition: 0.3s ease all, left 0.3s;
}

#button-show .checkbox:active+.knobs:before {
    width: 100px;
}

#button-show .checkbox:checked:active+.knobs:before {
    margin-left: -26px;
}

#button-show .checkbox:checked+.knobs:before {
    content: 'Mostra solo popolari';
    left: 108px;
    background-color: #F44336;
}

#button-show .checkbox:checked~.layer {
    background-color: #fcebeb;
}

.wrapper__cities {
    margin: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.loading {
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.loading img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.city {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 7.5px;
    padding: 10px;

    width: 250px;
    height: 320px;

    border-radius: 15px;

    opacity: 0.78;
    cursor: pointer;
    transition: all 0.35s ease;
}

.city.hidden {
    opacity: 0;
    transform: scale(0);
}

.city:hover {
    transform: scale(0.9);
}

.city:active {
    opacity: 1;
    transform: scale(1);
}

.city img {
    position: absolute;
    border-radius: 15px 15px 0px 0px;
    top: 0;
    width: 100%;
    height: 50%;
}

.city h3 {
    position: absolute;
    top: 60%;
    color: #fff;
}

.city p {
    position: absolute;
    top: 70%;
    color: #fff;
    margin: 15px;
}

.modal {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 500px;
    height: 640px;
    max-width: 100%;
    max-height: 100%;

    background: white;
    border-radius: 15px;

    transition: opacity 0.35s;
}

.modal img {
    position: absolute;
    border-radius: 15px 15px 0px 0px;
    top: 0;
    width: 100%;
    height: 30%;
}

.modal h3 {
    position: absolute;
    top: 35%;
    color: #fff;
}

.modal .map img {
    position: absolute;
    border-radius: 0px 0px 0px 0px;
    top: 40%;
    left: 90px;
    width: 320px;
    height: 320px;
}

.modal .map .map-overlay {
    position: absolute;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 10%;
    left: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding: 0px 10px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.modal .map:hover .map-overlay {
    z-index: 1;
    padding: 10px 10px;
    max-height: 1000px;
}

.modal_button {
    position: absolute;
    top: 91%;
    background-color: black;
    border: 2px black solid;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 30px;
    transition: all 0.3s ease-out;
}

.modal_button:hover {
    background-color: white;
    color: black;
}

@keyframes loading {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

/* MOBILE */
@media all and (max-width: 990px) {

    body {
        font-size: 16px;
        line-height: 24px;
    }

    .title {
        padding: 50px 20px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    .title h1 {
        font-size: 30px;
        line-height: 50px;
        padding-bottom: 10px;
    }

}